body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px;
}

#posts {
  margin-bottom: 20px;
}

.post {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

#new-post {
  border: 1px solid #ccc;
  padding: 20px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
}

form button {
  padding: 10px;
}
